# Root level
node_modules/
.env
.DS_Store
*.log

# Client (React)
client/node_modules/
client/build/
client/.env
client/.DS_Store

# Server (Express)
server/letsencrypt
server/node_modules/
server/.env
server/.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS generated
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
